.fab {
    position: fixed;
    bottom: 90px;
    right: 20px;

    width: 64px;
    height: 64px;

    border-radius: 50%;
    background: linear-gradient(135deg, #00c853, #00e676);

    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    color: white;
}

.fab svg {
    width: 24px;
    height: 24px;
}